{% extends "base.html" %}

{% block title %}Image Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Modify Image</h1>
      <hr>
      <form action="/upload-image" method='POST' enctype='multipart/form-data'>
        <div class="form-group">
          <h3>Select an Image<p>(Up to 1MB)</p></h3>
            {% if wrong_ext %}
              <p class='wrong_ext'>.jpeg, .jpg, .png, or .gif files only please</p>
            {% endif %}
            {% if big_file %}
              <p class="wrong_ext">Sorry, that file exceeds 1MB</p>
            {% endif %}
          <div class="custom-file">
            <input type="file" class='custom-file-input' name='image' id='image'>
          </div>
        </div>
        <br>
        <button class='btn btn-primary' type='submit'>Load New Image</button>
      </form>
      <hr>
    </div>
  </div>
</div>

{% if image %}

<div class='mod_div'>
  <div>
    <h4>Modified Image</h4>
    <img src="data:image/jpeg;base64, {{image}}" class='mod_img' id='mod_img'>
  </div>

  <div id='mod_tools'>
      <h4>Mod Tools</h4>
      <div class="form-group">
        <label>Brightness</label>
        <input type='range' class='form-range' min='0' max='2' step='0.001' id='brightness' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Saturation</label>
        <input type='range' class='form-range' min='0' max='2' step='0.001' id='saturation' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Blur/Sharpen</label>
        <input type='range' class='form-range' min='-5' max='5' step='0.001' id='blur_sharp' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Redness</label>
        <input type='range' class='form-range' min='0' max='2' step='0.001' id='redness' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Greenness</label>
        <input type='range' class='form-range' min='0' max='2' step='0.001' id='greenness' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Blueness</label>
        <input type='range' class='form-range' min='0' max='2' step='0.001' id='blueness' onchange='imgMod()'>
      </div>
      <div class="form-group">
        <label>Rotate</label>
        <input type='range' class='form-range' min='-2' max='2' step='1' id='rotation' onchange='imgMod()'>
      </div>
    </div>
</div>

<hr>

<div>
  <h4>Original Image</h4>
  <img src="data:image/jpeg;base64, {{image}}" class='user_img' id='user_img'>
</div>

{% endif %}

{% endblock %}

