body{
    background-color: #203647;
    margin: 0
}
h1{
    text-align: center;
    color: #EEFBFB;
}
h4{
    text-align: center;
    color: #EEFBFB;
}
form{
    color: #EEFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    color: #EEFBFB;
}

.mod_div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: scroll; */
}
.user_img{
    max-width: 48vw;
    max-height: 48vh;
    display: block;
    margin-right: auto;
    margin-left: auto;    
}
.mod_img{
    max-width: 48vw;
    max-height: 48vh;
    padding: 2vw;
    display: block;
    margin-right: auto;
    margin-left: auto; 
}

.wrong_ext{
    color: red;
}


